.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
}

.grid td[alive="true"] {
  background-color: black;
}

.grid td[alive="false"] {
  background-color: white;
}
