.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:25px; height:25px;
    border:5px solid #000000;
}

.grid td[alive="true"] {
  background-image: radial-gradient(#3EA055, #5FFB17);
}

.grid td[alive="false"] {
  background-color: #303030;
}

body {
  background-color: #000000;
}

body div {
  display: flex;
  justify-content: center;
}

body div:first-of-type {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #404040;
  margin: 10px 9px 0 9px;
  border-radius: 4px;
  height: 30px;
  width: 80px;
  font-family: sans-serif;
  font-size: 13px;
  border: 2px solid #404040;
  color: #e6e6e6;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 0;
  outline-color: #e6e6e6;
  border: 1px solid #e6e6e6;
}

body h3 {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 16px;
  color: #cccccc;
  font-family: sans-serif;
  font-weight: 400;
}

body div img {
  height: 40px;
  width: 40px;
  margin: 0 5px 0 5px;
}

body div img:hover {
  cursor: pointer;
}

body h2 {
  margin-left: 20px;
  font-size: 20px;
  color: #cccccc;
  font-family: sans-serif;
  font-weight: 400;
  align-self: center;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
    color: #5FFB17;
}

.slider::-moz-range-thumb {
    cursor: pointer;
    color: #5FFB17;
}

footer h3 {
  font-size: 14px;
  color: #cccccc;
  font-family: sans-serif;
  font-weight: 400;
  align-self: center;
}

footer a {
  font-size: 14px;
  color: #cccccc;
  font-family: sans-serif;
  font-weight: 600;
  align-self: center;
}

footer a:visited {
  font-size: 14px;
  color: #cccccc;
  font-family: sans-serif;
  font-weight: 600;
  align-self: center;
}
